{
	"extends": "next/core-web-vitals",
	"rules": {
		"max-len": [
			1,
			{
				"code": 120
			}
		],
		"no-shadow": 0,
		"semi": 1,
		// "array-element-newline": [2, "always"],
		"array-bracket-spacing": [1, "always"],
		"object-curly-spacing": [1, "always"],
		"computed-property-spacing": [1, "always"]
	}
}
