.container {
	display: flex;
	background-color: var(--primary-color);
	height: 50px;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	padding: 0px 100px;
}

.cardItem {
	font-size: 14px;
	color: white;
}

@media screen and (max-width: 480px) {
	.container {
		height: auto;
		flex-direction: column;
	}

	.title,
	.linkTitle {
		font-size: 30px;
	}

	.cardItem {
		text-align: center;
	}
}
