.container {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
	position: relative;
}

.card {
	flex: 1;
	padding: 100px;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

.circle {
	width: 100vh;
	height: 100vh;
	border-radius: 50%;
	opacity: 0.1;
	position: absolute;
	z-index: 999;
}

.t1 {
	width: 65%;
}

.title {
	font-size: 48px;
	color: rgb(3, 3, 3);
	margin: 70px 0px 40px 0px;
	line-height: 1.3;
}

.brandName {
	color: green;
}

.desc {
	width: 40%;
	color: gray;
	font-size: 18px;
	margin: 0;
}

.b1 {
	padding-top: 40px;
}

@media screen and (max-width: 480px) {
	.container {
		flex-direction: column;
	}
	.circle1 {
		right: -50vh;
		bottom: -50vh;
	}
	.card {
		padding: 20px 50px;
		justify-content: space-between;
	}
	.title {
		font-size: 38px;
	margin-bottom: 20px;
	}
}
@media (max-width: 768px) {
	.card {
		padding: 20px 30px;
	}
	.b1 {
		padding-top: 20px;
	}
	.desc {
		width: 80%;
	}
	.t1 {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.t1 {
		width: 85%;
	}
}
