/* AppWrap */
.container {
  padding: 70px 100px;
}

@media (max-width: 1068px) {
	.container {
		padding: 70px 40px;
	}
}

/* CardWrap */
.card_wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  text-align: center;
  padding-top: 20px;
}

.card_wrap_blog {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  text-align: left;
  padding-top: 20px;
}

@media (min-width: 658px) {
  .card_wrap, .card_wrap_blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1068px) {
  .card_wrap, .card_wrap_blog {
  grid-template-columns: repeat(3, 1fr);
  }
}
