.container {
  padding: 70px 100px;
}

/* SERVICES PAGE */
.services {
  display: grid;
    grid-template-columns: 1fr;
  gap: 40px;
  text-align: center;
  padding-top: 20px;
}

.services .service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@media (min-width: 658px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1068px) {
  .services {
  grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1068px) {
	.container {
		padding: 100px 40px;
	}
}
