.container {
	display: flex;
	background-color: var(--primary-color);
	height: 50px;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	padding: 0px 100px;
}

.info {
	color: white;
}
@media screen and (max-width: 768px) {
	.info {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 558px) {
	.container {
		height: auto;
		flex-direction: column;
		padding: 14px 30px;
	}

	.cardItem {
		text-align: center;
	}
}
