/* CONTACT */
.contact {
	position: relative;
	width: 100%;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.contact_form {
	position: relative;
  border: 1px solid #f9f9f9;
	width: calc(100% - 400px);
	padding: 30px 30px 20px;
}

.contact_form form {
	width: 100%;
}

.contact_form .row {
	width: 100%;
	display: flex;
}

.contact_form .input50 {
	width: 50%;
	margin: 0 10px;
}

.contact_form .input100 {
	width: 100%;
	margin: 0 10px;
}

.contact_form .row input,
.contact_form .row textarea {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
	background: transparent;
	width: 100%;
	padding: 10px;
	outline: none;
	font-size: 1.2rem;
	font-weight: 400;
	margin: 10px 0;
	resize: none;
}

.contact_form .row textarea {
	height: 150px;
}

.contact_form .row input[type='submit'] {
	background-color: var(--primary-color);
	color: #fff;
	margin: 0;
	font-weight: 500;
	font-size: 1.2rem;
	border: 0;
	cursor: pointer;
}

.contact_info {
	width: 350px;
	padding: 40px 40px 20px;
  border: 1px solid #f9f9f9;
}

.contact_info .info_box {
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
}

.contact_info .info_box .contact_icon {
	width: 20px;
	margin-right: 40px;
}

.contact_info .info_box .details h4 {
	color: var(--secondary-color);
}

.contact_info .info_box .details p,
.contact_info .info_box .details a {
	color: #111;
}

@media (max-width: 1024px) {
	.contact {
		flex-direction: column;
	}
	.contact_form {
		width: 100%;
		padding: 20px 15px 20px;
	}

	.contact_form .row {
		flex-direction: column;
	}

	.contact_form .input50,
	.contact_form .input100 {
		width: 100%;
		margin: 0;
	}

	.contact_info {
		/* display: none; */
		width: 100%;
		margin-top: 20px;
		padding: 30px 30px 20px;
	}

	.contact_form .row input[type='submit'] {
		margin: 0;
		font-weight: 400;
		font-size: 1.2rem;
		border: 0;
		cursor: pointer;
	}
}
